@font-face {
  font-family: "Museo Cyrl 700";
  src:
    url("./../fonts/MuseoCyrl-700.woff2") format("woff2"),
    url("./../fonts/MuseoCyrl-700.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Museo Cyrl 900';
    src: url('./../fonts/MuseoCyrl-900.woff2') format('woff2'),
        url('./../fonts/MuseoCyrl-900.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "ALS Rubl";
  src:
    url("./../fonts/ALSRubl.woff2") format("woff2"),
    url("./../fonts/ALSRubl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src:
    local("Open Sans Condensed Regular"),
    local("OpenSansCondensed-Regular"),
    url("./../fonts/OpenSansCondensed-Regular.woff2") format("woff2"),
    url("./../fonts/OpenSansCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src:
    local("Open Sans Condensed SemiBold"),
    local("OpenSansCondensed-SemiBold"),
    url("./../fonts/OpenSansCondensed-SemiBold.woff2") format("woff2"),
    url("./../fonts/OpenSansCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src:
    local("Open Sans SemiCondensed Bold"),
    local("OpenSansSemiCondensed-Bold"),
    url("./../fonts/OpenSansSemiCondensed-Bold.woff2") format("woff2"),
    url("./../fonts/OpenSansSemiCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
